<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="neo-card" style="width: 100%; max-width: 400px;">
    <h2 class="text-center mb-4">Crear Cuenta</h2>
    
    <form (ngSubmit)="onRegister()">
      
      <div class="neo-form-group">
        <input required 
               type="email" 
               name="email" 
               [(ngModel)]="user.email" 
               class="neo-input">
        <label class="label">Correo Electrónico</label>
      </div>

      <div class="neo-form-group">
        <input required 
               type="password" 
               name="password" 
               [(ngModel)]="user.password" 
               class="neo-input">
        <label class="label">Contraseña (min 8 car.)</label>
      </div>
@if (errorMessage) {
      <div class="alert alert-danger mt-3">
        {{ errorMessage }}
      </div>}
      @if (successMessage) {
      <div class="alert alert-success mt-3">
        {{ successMessage }}
      </div>}

      <button type="submit" class="btn btn-primary w-100 py-2 mt-4 shadow-sm">
        Registrarse
      </button>
    </form>

    <div class="mt-4 text-center">
      <p class="mb-0 text-muted-dynamic">¿Ya tienes cuenta?</p>
      <a routerLink="/login" class="text-decoration-none fw-bold text-primary">Inicia Sesión aquí</a>
    </div>
  </div>
</div>